.container {
  padding-top: 3rem;
}
.blur {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
#shutdowntimer-img {
  border-radius: 1rem;
  padding: 10px;
}
