*::-webkit-scrollbar-thumb {
  background: #060606;
}

#mobile {
  border: none;
}

#seeMore {
  display: block;
  font-size: 1rem;
  margin: 0;
}

.code {
  background: rgba(0, 0, 0, 0.35);
}

.header,
.footer {
  color: #fff;
  background: #000000;
  background: linear-gradient(135deg, #000000 0%, #404040 100%);
  background: -moz-linear-gradient(135deg, #000000 0%, #404040 100%);
  background: -webkit-linear-gradient(135deg, #000000 0%, #404040 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#404040", GradientType=1 );
}
a {
  color: #fff;
}
a:hover {
  color: #bebebe;
}

@media screen and (max-width: 600px) {
  .code p {
    font-size: 0.65rem;
  }
  .header {
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #404040 100%);
    background: -moz-linear-gradient(90deg, #000000 0%, #404040 100%);
    background: -webkit-linear-gradient(90deg, #000000 0%, #404040 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#404040", GradientType=1 );
  }
}
