*::-webkit-scrollbar-thumb {
    background: #00ff88;
}

#seeMore {
    display: block;
    font-size: 1rem;
    margin: 0;
}

.code {
    background-color: #00ff8823;
}

.features {
    display: flex;
    margin: 0 auto 0 auto;
    width: fit-content;
    border: 1px solid #33374513;
    border-radius: 0.5rem;
}

table {
    text-align: left;
}

.table1 {
    margin-right: 0.5rem;
}

.header, .footer {
    background: #00ff88;
    background: linear-gradient(135deg, #00ff88 0%, #61efff 100%);
    background: -moz-linear-gradient(135deg, #00ff88 0%, #61efff 100%);
    background: -webkit-linear-gradient(135deg, #00ff88 0%, #61efff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ff87", endColorstr="#60efff", GradientType=1);
}