*::-webkit-scrollbar-thumb {
  background: #fabe2a;
}

#seeMore {
  display: block;
  font-size: 1rem;
  margin: 0;
}

.code {
  background-color: rgba(250, 143, 69, 0.35);
}

.features {
  display: flex;
  margin: 0 auto 0 auto;
  width: fit-content;
  border: 1px solid #33374513;
  border-radius: 0.5rem;
}

table {
  text-align: left;
}

.table1 {
  margin-right: 0.5rem;
}

.header,
.footer {
  background: #f9c824;
  background: linear-gradient(135deg, #f9c824 0%, #fc4f6c 100%);
  background: -moz-linear-gradient(135deg, #f9c824 0%, #fc4f6c 100%);
  background: -webkit-linear-gradient(135deg, #f9c824 0%, #fc4f6c 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F9C823", endColorstr="#FC506E", GradientType=1);
}
