*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background: #333745;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: CascadiaCode;
  src: url(/static/fonts/CascadiaCode.ttf);
}

body {
  color: #333745;
  background-color: #fff;
  text-align: center;
  user-select: none;
}

a {
  color: #333745;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.centeredBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textCenter {
  text-align: center;
}