*::-webkit-scrollbar-thumb {
  background: #d52a7d;
}

#mobile {
  border: none;
}

#seeMore {
  display: block;
  font-size: 1rem;
  margin: 0;
}

.code {
  background: rgba(162, 69, 176, 0.35);
}

.header,
.footer {
  background: #6366f1;
  background: linear-gradient(135deg, #db2777 0%, #6366f1 100%);
  background: -moz-linear-gradient(135deg, #db2777 0%, #6366f1 100%);
  background: -webkit-linear-gradient(135deg, #db2777 0%, #6366f1 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#db2777", endColorstr="#6366f1", GradientType=1);
}

@media screen and (max-width: 600px) {
  .header div h1 {
    font-size: 3.25rem;
  }
  .code p {
    font-size: 0.65rem;
  }

  .header {
    background: #db2777;
    background: linear-gradient(90deg, #db2777, #6366f1 100%);
    background: -moz-linear-gradient(90deg, #db2777, #6366f1 100%);
    background: -webkit-linear-gradient(90deg, #db2777, #6366f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#db2777", endColorstr="#6366F1", GradientType=1 );
  }
}
