*::-webkit-scrollbar-thumb {
  background: #8a9ea7;
}

h3 {
  font-size: 1.4rem;
  padding-left: 1rem;
}

#cli {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.code {
  background-color: rgba(179, 193, 198, 0.35);
}

.header,
.footer {
  background: #8298a1;
  background: linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
  background: -moz-linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
  background: -webkit-linear-gradient(135deg, #8298a1 0%, #edf1f2 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#8399A2", endColorstr="#EEF2F3", GradientType=1);
}

@media screen and (max-width: 600px) {
  .header div h1 {
    font-size: 2.5rem;
  }
  .code p {
    font-size: 0.65rem;
  }
  .header {
    background: #8298a1;
    background: linear-gradient(90deg, #8298a1, #edf1f2 100%);
    background: -moz-linear-gradient(90deg, #8298a1, #edf1f2 100%);
    background: -webkit-linear-gradient(90deg, #8298a1, #edf1f2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8298a1", endColorstr="#6366F1", GradientType=1 );
  }
}
