p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

h1 {
    font-size: 2.3rem;
}

a {
    font-weight: 500;
}

a:hover {
    background-color: #333745;
}

small {
    display: block;
    margin-bottom: 0.6rem;
}

.title {
    font-size: 3.25rem;
    margin: 1rem;
}

.shutdownTimerBtn:hover {
    color: hsla(277, 79%, 84%, 1);
}

.flaskBlogBtn:hover {
    color: hsla(46, 95%, 56%, 1);
}

.flaskToDoBtn:hover {
    color: rgb(198, 246, 233);
}

.card {
    height: 22rem;
    width: 20rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0.25rem;
    border-radius: 0.75rem;
    margin: 1rem 0.5rem;
}

.cards h1 {
    margin: 0;
}

.goToPostBtn {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0 auto 0 auto;
    border: 1.5px solid #333745;
    width: 75%;
    border-radius: 0.6rem;
}

.shutdownTimerCard {
    background: hsla(277, 79%, 84%, 1);
    background: linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#DDB4F6", endColorstr="#8DD0FC", GradientType=1);
}

.flaskBlogCard {
    background: hsla(46, 95%, 56%, 1);
    background: linear-gradient(135deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F9C823", endColorstr="#FC506E", GradientType=1);
}

.flaskToDoCard {
    background: rgb(198, 246, 233);
    background: -moz-linear-gradient(145deg, rgba(198, 246, 233, 1) 0%, rgba(199, 202, 245, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(198, 246, 233, 1) 0%, rgba(199, 202, 245, 1) 100%);
    background: linear-gradient(145deg, rgba(198, 246, 233, 1) 0%, rgba(199, 202, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6f6e9", endColorstr="#c7caf5", GradientType=1);
}