.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
p{
font-size: 1.25rem;
}
h1{
font-size: 2.5rem;
}
.btn-solo{
height: 3.5rem;
width: 13.2rem; 
margin-top: 10px;
margin-bottom: 2rem; 
}
.btn-outline-warning{
  width: 6rem;
  margin-right: 1rem;
}
.btn{
font-size: 1.5rem;
}
.other-projects-btn {
margin-top: 2rem;
font-size: 1rem;
margin-bottom: 0.5rem;
}
.btn-duo{
  height: 3.5rem;
  width: 6rem; 
}