.code {
  background-color: #EBEEFD;
}

.header, .footer {
  background: hsla(277, 79%, 84%, 1);
  background: linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#DDB4F6", endColorstr="#8DD0FC", GradientType=1);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.75rem;
  }
}