a {
  transition: all 0.5s ease;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  outline: none;
  margin: auto;
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.5rem;
  border-radius: 100rem;
  width: 2.75rem;
  height: 2.75rem;
}
a:hover {
  color: black;
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  a {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 3.8rem;
  }
}
