.container {
        padding-top: 3rem;
}
Body{
        background: linear-gradient(0.25turn, rgb(85, 85, 85),  rgb(65, 64, 64));
}
a {
        transition: all .5s ease;
        color: #fff;
        border: 2px solid white;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.5;
        font-size: 1rem;
        background-color : transparent;
        outline: none;
        border-radius: 10px;
        margin: auto;
        display: block;
        cursor: pointer;
        text-decoration: none;
        padding:0.6rem;
        height: 4rem;
        width: 9.5rem;
        margin-top:1.5rem;
}
a:hover{
        color: black;
        background-color: #fff;
}
@media screen and (max-width:600px) {
        .container {
                padding-top: 1rem;
        }
        a{
                margin-top: 1rem;
                padding:0.5rem;
                height: 3.8rem;
        }
      }