a {
  transition: all 0.5s ease;
  color: #fff;
  font-size: 2.25rem;
  display: block;
  margin-bottom: 1.25rem;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 600px) {
  a:hover {
    color: black;
    background-color: #fff;
  }

  i {
    margin-top: 0.38rem;
  }
}