a {
        transition: all .5s ease;
        color: #fff;
        border: 2px solid white;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.5;
        font-size: 100%;
        background-color : transparent;
        outline: none;
        border-radius: 10px;
        margin: auto;
        display: block;
        cursor: pointer;
        text-decoration: none;
        padding:0.5rem;
        height: 60px;
        width: 150px;
        margin-top:1.5rem;
}
a:hover{
        color: black;
        background-color: #fff;
}
body{
        background: linear-gradient(0.25turn, rgb(85, 85, 85),  rgb(65, 64, 64));
}
.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 3rem;
}