@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
html,
body {
  height: 100%;
  background: linear-gradient(0.25turn, rgb(85, 85, 85),  rgb(65, 64, 64));
}
.box{
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
a {
        transition: all .5s ease;
        color: #fff;
        border: 2px solid white;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.5;
        font-size: 100%;
        background-color : transparent;
        padding: 2%;
        outline: none;
        border-radius: 10px;
        height: auto;
        font-family: 'Libre Franklin', sans-serif;
        margin: auto;
        display: block;
        cursor: pointer;
        width: 12rem;
        margin-top:1.5rem;
}
a:hover{
        color: black;
        background-color: #fff;
}
