.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 2rem;
  }
p{
  font-size:1.25rem;
  margin-bottom: 2rem;
}
h1{
  font-size:2.5rem;
}
.btn_duo{
  height:3.5rem;
  width:6rem; 
}
.btn_solo{
  height:3.5rem;
  width:13.5rem; 
  margin-top: 10px;
  margin-bottom: 1rem; 
}
.btn-outline-warning{
  margin-right: 1rem;
}
.btn{
  padding-top: 0.7rem;
}