@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
a {
        transition: all .5s ease;
        color: #fff;
        border: 2px solid white;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.5;
        font-size: 100%;
        background-color : transparent;
        outline: none;
        border-radius: 10px;
        font-family: 'Libre Franklin', sans-serif;
        margin: auto;
        display: block;
        cursor: pointer;
        text-decoration: none;
        padding:10px;
        height: 60px;
        width: 150px;
        margin-top:1.5rem;
}
a:hover{
        color: black;
        background-color: #fff;
}
body{
        background: linear-gradient(0.25turn, rgb(85, 85, 85),  rgb(65, 64, 64));
        margin-top:10%;
}
.box {
        position: relative;
        width: 100%; 
        height: 100%; 
        margin: 0 auto;
        padding: 0;
        text-align: left;
}