{% extends 'layout.html'%} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}" />
<title>Page Not Found</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔎</text></svg>"
/>
{% endblock head %} {% block body %}
<div class="container">
  <h1>404</h1>
  <h2>PAGE NOT FOUND</h2>
  <a href="/" type="button" class="btnHome">home</a>
</div>
{% endblock body %}
