{% extends 'layout.html'%}
{% block head %}
    <title>Page Not Found</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/404.css') }}">
{% endblock head %}
{% block body %}
<body class="bg-dark user-select-none">
    <div class="container text-center">
        <h1 class="text-danger">404</h1>
        <h2 class="text-light">PAGE NOT FOUND</h2>
        <a  href="http://dogukanurker.com" type="button" class="go-home-btn btn btn-outline-success   border border-2 border-success">GO HOME</a>
    </div>
</body>
{% endblock body %}