{% extends 'layout.html'%}
{% block head %}
    <title>All Pages</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/all.css') }}">
{% endblock head %}
{% block body %}
<body class="bg-dark user-select-none text-light">
    <div class="container">
        <a type="button" class="btn btn-outline-light btn-lg border-2 rounded-pill" href="http://dogukanurker.com/socials" target="_blank" rel="noopener noreferrer">Socials</a>
        <a type="button" class="btn btn-outline-light btn-lg border-2 rounded-pill" href="http://dogukanurker.com/projects" target="_blank" rel="noopener noreferrer">Projects</a>
        <a type="button" class="btn btn-outline-light btn-lg border-2 rounded-pill" href="http://dogukanurker.com/shutdowntimer" target="_blank" rel="noopener noreferrer">Shutdown Timer</a>
        <a type="button" class="btn btn-outline-light btn-lg border-2 rounded-pill" href="http://dogukanurker.com/main" target="_blank" rel="noopener noreferrer">Main Page</a>
        <p class="text-muted">Work in progress</p>
    </div>
</body>
{% endblock body %}