<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#212529">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/all.css') }}">
    <title>All Pages</title>
</head>
<body class="bg-dark user-select-none text-light">
    <div class="container">
        <a type="button" class="btn btn-outline-light btn-lg border border-2 rounded-pill" href="http://dogukanurker.com/links" target="_blank" rel="noopener noreferrer">Socials</a>
        <a type="button" class="btn btn-outline-light btn-lg border border-2 rounded-pill" href="http://dogukanurker.com/projects" target="_blank" rel="noopener noreferrer">Projects</a>
        <a type="button" class="btn btn-outline-light btn-lg border border-2 rounded-pill" href="http://dogukanurker.com/shutdowntimer" target="_blank" rel="noopener noreferrer">Shutdown Timer</a>
        <a type="button" class="btn btn-outline-light btn-lg border border-2 rounded-pill" href="http://dogukanurker.com/main" target="_blank" rel="noopener noreferrer">Main Page</a>
        <p class="text-muted">Work in progress</p>
    </div>
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>