{% extends 'layout.html'%} {% block head %}
<title>All Pages</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
{% endblock head %} {% block body %}
<body class="bg-dark user-select-none">
  <div class="container">
    <a
      type="button"
      class="btn btn-outline-light btn-lg border-2 rounded-pill"
      href="socials"
      target="_blank"
      rel="noopener noreferrer"
      >Socials</a
    >
    <a
      type="button"
      class="btn btn-outline-light btn-lg border-2 rounded-pill"
      href="apps"
      target="_blank"
      rel="noopener noreferrer"
      >Projects</a
    >
    <a
      type="button"
      class="btn btn-outline-light btn-lg border-2 rounded-pill"
      href="shutdowntimer"
      target="_blank"
      rel="noopener noreferrer"
      >Shutdown Timer</a
    >
    <a
      type="button"
      class="btn btn-outline-light btn-lg border-2 rounded-pill"
      href="main"
      target="_blank"
      rel="noopener noreferrer"
      >Main Page</a
    >
    <p class="text-muted">Work in progress</p>
  </div>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='js/all.js') }}"
  ></script>
</body>
{% endblock body %}
