{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/openSource.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/AstronomicalDistanceConverter.css') }}"
/>
<title>AstronomicalDistanceConverter</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌌</text></svg>"
/>
<meta name="theme-color" content="#0c74e4" />
{% endblock %} {% block body %}
<div class="header">
  <div>
    <h1>AstronomicalDistanceConverter</h1>
    <h3>Astronomical unit converter tool built with FastAPI & React.🌌</h3>
    {% include 'githubStats.html' %}
  </div>
  <div class="buttons">
    <a
      title="repository"
      href="https://github.com/DogukanUrker/AstronomicalDistanceConverter"
      target="_blank"
      ><i class="fa-brands fa-github"></i>
    </a>
    <a title="repository" href="https://youtu.be/REQ1ZyUKXWI" target="_blank"
      ><i class="fa-brands fa-youtube"></i>
    </a>
  </div>
</div>
<div class="body">
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/AstronomicalDistanceConverter/main/Images/desktop.png"
    alt="desktop"
    width="960"
    id="desktop"
  />
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/AstronomicalDistanceConverter/main/Images/mobile.PNG"
    alt="mobile"
    width="310.5"
    id="mobile"
  />
  <div class="install">
    <h2>Installation ⬇️</h2>
    <h3>Backend</h3>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>
        git clone
        https://github.com/DogukanUrker/AstronomicalDistanceConverterAPI.git
      </p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd AstronomicalDistanceConverterAPI</p>
    </div>
    <p>install requirements.txt 🔽</p>
    <div class="code">
      <p>pip install -r requirements.txt</p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>python main.py</p>
    </div>
    <h3>Frontend</h3>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>
        git clone
        https://github.com/DogukanUrker/AstronomicalDistanceConverter.git
      </p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd AstronomicalDistanceConverter</p>
    </div>
    <p>install packages 📦</p>
    <div class="code">
      <p>
        npm install
      </p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>
        npm run dev
      </p>
    </div>
    <p id="💯">💯</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}
