{% extends 'layout.html'%} {% block head %}
<title>Donation</title>
{% endblock head %} {% block body %}
<div class="flex flex-col justify-center items-center h-screen">
  <a
    href="https://github.com/sponsors/DogukanUrker"
    target="_blank"
    class="hover:scale-125 duration-300 text-4xl m-3"
    ><i class="fa-brands fa-github"></i
  ></a>
  <a
    href="https://www.buymeacoffee.com/dogukanurker"
    target="_blank"
    class="hover:scale-125 duration-300 text-4xl m-3"
    ><i class="fa-solid fa-coffee"></i
  ></a>
  <ax
    href="https://www.patreon.com/dogukanurker"
    target="_blank"
    class="hover:scale-125 duration-300 text-4xl m-3"
    ><i class="fa-brands fa-patreon"></i
  ></ax>
  <a
    href="https://ko-fi.com/dogukanurker"
    target="_blank"
    class="hover:scale-125 duration-300 w-16"
    ><img src="/static/images/kofi.png" alt="kofi"
  /></a>

  {% endblock body %}
</div>
