{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/openSource.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/flaskWeather.css') }}"
/>
<title>flaskWeather</title>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☀️</text></svg>"
/>
{% endblock %} {% block body %}
<div class="header">
  <div>
    <h1>flaskWeather</h1>
    <h3>Simple weather app built with Flask.🌤️</h3>
    {% include 'githubStats.html' %}
  </div>
  <div class="buttons">
    <a
      title="view app"
      href="https://flaskweather.pythonanywhere.com/"
      target="_blank"
      ><i class="fa-solid fa-earth-europe"></i
    ></a>
    <a
      title="repository"
      href="https://github.com/DogukanUrker/flaskWeather"
      target="_blank"
      ><i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
<div class="body">
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/flaskWeather/master/images/desktop.png"
    alt="desktop"
    width="960"
    id="desktop"
  />
  <img
    src="https://raw.githubusercontent.com/DogukanUrker/flaskWeather/master/images/mobile.png"
    alt="mobile"
    width="310.5"
    id="mobile"
  />
  <div class="install">
    <h2>Installation ⬇️</h2>
    <p>download source code from Github 💾</p>
    <div class="code">
      <p>git clone https://github.com/DogukanUrker/flaskWeather.git</p>
    </div>
    <p>go to directory 📁</p>
    <div class="code">
      <p>cd flaskWeather</p>
    </div>
    <p>install requirements.txt 🔽</p>
    <div class="code">
      <p>pip install -r requirements.txt</p>
    </div>
    <p>it's ready to run 🎉</p>
    <div class="code">
      <p>python app.py</p>
    </div>
    <p id="💯">💯</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock %} {% include "supportWidget.html"%}
