{% extends 'layout.html'%}
{% block head %}
    <title>Doğukan Ürker</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/mainpage.css') }}">
{% endblock head %}
{% block body %}
<body class="bg-dark user-select-none text-light">
</body>
{% endblock body %}