{% extends 'layout.html'%}
{% block head %}
    <title>Projects</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/projects.css') }}">
{% endblock head %}
{% block body %}
<body class="bg-dark user-select-none">
    <div class="container">
    <h1 class="text-light text-center">Projects</h1>
    <div class="card blur" style="width: 18rem;">
        <img id="shutdowntimer-img"src="static/images/img1.png"  class="card-img-top" alt="shutdowntimer-ui">
        <div class="card-body text-center text-light ">
            <h5 class="card-title ">Shutdown Timer</h5>
            <p class="card-text">A simple app to shutdown or restart your computer whenever you want.</p>
            <div class="d-grid gap-2">
                <a href="https://dogukanurker.com/shutdowntimer" target="_blank" class="btn btn-primary">Go to Project</a>
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock body %}