{% extends 'layout.html'%} {% block head %}
<title>Projects</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects.css') }}"
/>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗃️</text></svg>"
/>
{% endblock head %} {% block body %}
<h1 class="title">Projects</h1>
<div class="cards">
  <div class="card shutdownTimerCard"">
    <div>
      <h1>ShutdownTimer</h1>
      <p>
        Simple app to shutdown or restart your computer whenever you want.💤
      </p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">PyQt5</div>
      </div>
      <a href="/shutdowntimer" class="shutdownTimerBtn projectBtn" target="_blank"
        >go to project</a
      >
    </div>
  </div>
  <div class="card flaskBlogCard">
    <div>
      <h1>flaskBlog</h1>
      <p>Simple blog app built with Flask.📜</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Flask</div>
        <div class="tech">SQLite3</div>
        <div class="tech">Passlib</div>
        <div class="tech">WTForms</div>
      </div>
      <a href="/flaskblog" class="flaskBlogBtn projectBtn" target="_blank">go to project</a>
    </div>
  </div>
  <div class="card flaskEcommerceCard">
    <div>
      <h1>flaskEcommerce</h1>
      <p>Online shopping app built with Flask.🛍️</p>
      <br>
      <h3>in development...🫥</h3>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Flask</div>
        <div class="tech">MongoDB</div>
        <div class="tech">Passlib</div>
        <div class="tech">WTForms</div>
      </div>
      <a href="/flaskecommerce" class="flaskEcommerceBtn projectBtn" target="_blank">go to project</a>
    </div>
  </div>
  <div class="card flaskToDoCard">
    <div>
      <h1>flaskToDo</h1>
      <p>Simple todo app built with Flask.✅</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Flask</div>
        <div class="tech">SQLite3</div>
      </div>
      <a href="/flasktodo" class="flaskToDoBtn projectBtn" target="_blank">go to project</a>
    </div>
  </div>
  <div class="card flaskWeatherCard">
    <div>
      <h1>flaskWeather</h1>
      <p>Simple weather app built with Flask.🌤️</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Flask</div>
        <div class="tech">Weather Api</div>
      </div>
      <a href="/flaskweather" class="flaskWeatherBtn projectBtn" target="_blank"
        >go to project</a
      >
    </div>
  </div>
  <div class="card flaskNotesCard">
    <div>
      <h1>flaskNotes</h1>
      <p>Simple note app built with Flask.🗒️</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Flask</div>
        <div class="tech">SQLite3</div>
      </div>
      <a href="/flasknotes" class="flaskNotesBtn projectBtn" target="_blank"
        >go to project</a
      >
    </div>
  </div>
  <div class="card getImagesFromURLCard">
    <div>
      <h1>getImagesFromURL</h1>
      <p>Download images from URL.💾</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Typer</div>
        <div class="tech">PySide6</div>
        <div class="tech">Requests</div>
        <div class="tech">BeautifulSoup4</div>
      </div>
      <a href="/getimagesfromurl" class="getImagesFromURLBtn projectBtn" target="_blank"
        >go to project</a
      >
    </div>
  </div>
  <div class="card passwordGeneratorCard">
    <div>
      <h1>passwordGenerator</h1>
      <p>Generate random passwords.🔑</p>
    </div>
    <div>
      <div class="techs">
        <div class="tech">Typer</div>
        <div class="tech">PySide6</div>
      </div>
      <a href="/passwordgenerator" class="passwordGeneratorBtn projectBtn" target="_blank"
        >go to project</a
      >
    </div>
  </div>
</div>
{%if request.path == "/projects"%}
{% include "supportWidget.html"%}
{% endif %}
{% endblock body %}