{% extends 'layout.html'%} {% block head %}
<title>Projects</title>
{% endblock head %} {% block body %}
<div class="h-screen w-full flex flex-col items-center justify-center">
  <div class="h-full p-4 lg:grid grid-cols-3 gap-4">
    {% for repo in repos %}
    <a
      href="/{{ repo.name }}"
      target="_blank"
      class="my-4 lg:my-0 rounded-3xl bg-neutral-950 text-center px-2 py-4 flex flex-col justify-center items-center hover:scale-105 duration-300"
    >
      <div class="text-xl mb-2 font-bold">{{ repo.name }}</div>
      <div>{{ repo.description }}</div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock body %}
