{% extends 'layout.html'%} {% block head %}
<title>DogukanUrker/{{name}}</title>
{% endblock head %} {% block body %}

<div
  class="lg:flex h-screen w-full flex-col items-center justify-center p-6 text-slate-100 select-none"
>
  <div
    class="lg:grid lg:h-2/3 h-full w-full grid-cols-6 grid-rows-3 gap-4 text-slate-100"
  >
    <div
      class="mb-8 mt-2 lg:mt-0 lg:mb-0 py-2 lg:py-0 col-span-2 lg:row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-2xl lg:text-4xl text-center font-bold"
    >
      {{name}}
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-2 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      {{description}}
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-2xl lg:text-4xl text-center font-bold"
    >
      <a
        href="{{url}}"
        target="_blank"
        class="hover:text-slate-100/75 duration-300"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <a
        class="hover:text-slate-100/75 duration-300"
        href="/projects"
        target="_blank"
      >
        <i class="fa-solid fa-layer-group mr-2"></i> Projects
      </a>
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-2 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <div class="mx-3"><i class="fa-solid fa-star mr-1"></i> {{stars}}</div>
      <div class="mx-3">
        <i class="fa-solid fa-code-fork mr-1"></i> {{forks}}
      </div>
      <div class="mx-3"><i class="fa-solid fa-eye mr-1"></i> {{watchers}}</div>
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <a
        href="/donate"
        target="_blank"
        class="hover:text-slate-100/75 duration-300"
        ><i class="fa-solid fa-sack-dollar mr-2"></i> Donate</a
      >
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <i class="fa-solid fa-scale-balanced mr-2"></i> {{license}}
    </div>

    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-2 row-span-2 rounded-3xl bg-neutral-950 flex flex-col justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <div class="mb-4">
        <i class="fa-solid fa-users mr-2"></i> Contributors
      </div>
      <div class="flex flex-wrap justify-center object-cover">
        {% for contributor in contributors %}
        <img
          class="w-12 lg:w-16 m-2 rounded-lg hover:scale-105 duration-300"
          src="{{contributor}}"
        />
        &nbsp; {% endfor %}
      </div>
    </div>

    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-2 row-span-1 rounded-3xl bg-neutral-950 flex flex-col justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <div class="mb-4"><i class="fa-solid fa-code mr-2"></i> Languages</div>
      {% for language in languages %} {{language}} &nbsp; {% endfor %}
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <a
        href="{{url}}#readme"
        target="_blank"
        class="hover:text-slate-100/75 duration-300"
        ><i class="fa-solid fa-file-lines mr-2"></i> Docs</a
      >
    </div>
    <div
      class="my-8 lg:my-0 py-2 lg:py-0 col-span-1 row-span-1 rounded-3xl bg-neutral-950 flex flex-col justify-center items-center text-xl lg:text-3xl text-center font-bold"
    >
      <div>Made with</div>
      <i
        class="fa-solid fa-heart mt-1 ml-2 hover:text-rose-500 duration-300 text-2xl lg:text-4xl"
      ></i>
    </div>
  </div>
</div>
{% endblock body %}
