{% extends 'layout.html'%}
{% block head %}
    <title>Shutdown Timer</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/shutdowntimer.css') }}">
{% endblock head %}
{% block body %}
<body class="bg-dark text-light text-center user-select-none ">
  <div class="container ">
    <h1 >Shutdown Timer</h1>
    <br>
    <p>Simple app to shutdown or restart your computer whenever you want.</p>
    <br>
    <div >
      <a type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Github" href="/shutdowntimer.elf"  target="_blank"  class="border-2 btn btn-outline-warning btn-lg " ><i class="fab fa-linux"></i></a>
      <a  type="button" href="/shutdowntimer.exe" target="_blank" class="border-2  btn btn-outline-primary btn-lg  "><i class="fab fa-windows"></i></a>
      <br>
      <a  type="button" href="https://github.com/DogukanUrker/ShutdownTimer"  target="_blank"  class="border-2  btn btn-outline-light btn-lg " ><i class="fab fa-github"></i></a>
      <br>
      <img src="static/images/img1.png"   alt="shutdowntimer-ui" class="d-block">
      <a href="projects" type="button" class="btn btn-outline-secondary">other projects</a>
    </div>
</body>
{% endblock body %}