{% include 'layout.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shutdown Timer</title>
    <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/shutdowntimer.css') }}">
</head>
<body class="bg-dark text-light text-center user-select-none ">
  <div class="container ">
    <h1 >Shutdown Timer</h1>
    <br>
    <p>Simple app to shutdown or restart your computer whenever you want.</p>
    <br>
    <div >
      <a type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Github" href="https://github.com/DogukanUrker/ShutdownTimer"  target="_blank"  class="border-2 btn btn-outline-warning btn-lg btn_duo" >Code</a>
      <a  type="button" href="ShutdownTimer.exe" target="_blank" class="border-2  btn btn-outline-primary btn-lg btn-duo ">Exe</a>
      <br>
      <a  type="button" href="https://1drv.ms/u/s!AiL5tcu803MEgeM_KinVQ6Hiu-qn1w?e=baYiaF"  target="_blank"  class="border-2  btn btn-outline-success btn-lg btn-solo " >Setup</a>
      <img src="static/images/img1.png"   alt="shutdowntimer-ui" class="d-block">
      <a href="projects" type="button" class="btn btn-outline-light other-projects-btn">other projects</a>
    </div>
</body>
</html>