{% extends 'layout.html'%}
{% block head %}
  <title>Socials</title>
  <link rel= "stylesheet"  href= "{{ url_for('static', filename='css/socials.css') }}">
{% endblock head %}
{% block body %}
<body>
  <div class="container user-select-none">
    <a href="https://www.instagram.com/dogukanurker/" target="_blank">Instagram</a>         
    <a href="https://www.twitter.com/dogukanurker/" target="_blank">Twıtter</a> 
    <a href="https://www.twitch.tv/dogukanurker/" target="_blank">Twıtch</a> 
    <a href="https://steamcommunity.com/id/dogukanurker" target="_blank">Steam</a> 
    <a href="https://www.reddit.com/user/dogukanurker/" target="_blank">Reddit</a> 
    <a href="https://www.github.com/dogukanurker/" target="_blank">Github</a> 
  </div>
</body>
{% endblock body %}