{% extends 'layout.html'%} {% block head %}
<title>Socials</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/socials.css') }}"
/>
{% endblock head %} {% block body %}
<body class="bg-dark user-select-none">
  <div class="center-box">
    <a href="https://www.instagram.com/dogukanurker/" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.twitter.com/dogukanurker/" target="_blank"
      ><i class="fa-brands fa-twitter"></i
    ></a>
    <a href="https://steamcommunity.com/id/dogukanurker" target="_blank"
      ><i class="fa-brands fa-steam"></i
    ></a>
    <a href="https://www.reddit.com/user/dogukanurker/" target="_blank"
      ><i class="fa-brands fa-reddit"></i
    ></a>
    <a href="https://www.github.com/dogukanurker/" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
  </div>
</body>
{% endblock body %}
